body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }
  
  a {
    color: #149ddd;
  }
  
  a:hover {
    color: #37b3ed;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  .back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #149ddd;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }
  
  .back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: #fff;
    background: #2eafec;
    transition: background 0.2s ease-in-out;
  }
 /* ------------------------------# Header-------------------------------- */
 #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #101314ee;
    overflow-y: auto;
    color: #f7fafd;
  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
  }
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  #header .profile h1 a, #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  #header .profile .social-links b {
    font-size: 18px;
    display: inline-block;
    background: #149ddd;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    
  }
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
    #main {
      margin-left: 0;
    }
  }
  
 /*---------------------------# Navigation Menu-------------------------------------------------*/
 /* Desktop Navigation */
.nav-menu {
    padding-top: 5px;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #7e6f80;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-menu a:hover i, .nav-menu .active > a i, .nav-menu li:hover > a i {
    color: #149ddd;
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #149ddd;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  
/*---------------------------# fd Section-----------------------------------------------*/  
#fd {
    width: 100%;
    height: 100vh;
    background: url("../img/ensa.png") top center;
    background-size: cover;
  }
  
  #fd:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #fd .fd-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  
  #fd h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #fd p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #fd p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
  }
  
  @media (min-width: 1024px) {
    #fd {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #fd h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #fd h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  /*---------------------# Sections General-----------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background: #f5f8fd;
  }
  
  .section-title {
    padding-bottom: 30px;
    margin-left: 200px;

  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  /*-------------------------------# About------------------------------------------*/
  .about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #149ddd;
}

.about .content p:last-child {
  margin-bottom: 0;
}
/*--------------------# Compétences et Formations-----------------------------*/
.cf .cf-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
  }
  
  .cf .cf-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }
  
  .cf .cf-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
  }
  
  .cf .cf-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .cf .cf-item ul {
    padding-left: 20px;
  }
  
  .cf .cf-item ul li {
    padding-bottom: 10px;
  }
  
  .cf .cf-item:last-child {
    padding-bottom: 0;
  }
  
  .cf .cf-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }
 
  
 /*---------------------------# Interêts et loisirs-------------------------------------------*/
.il .icon-box {
    margin-bottom: 20px;
  }
  .il .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
  }
  .il .icon i {
    color: #fff;
    font-size: 24px;
  }
  
  .il .icon-box:hover .icon {
    background: #fff;
  }
  
  .il .icon-box:hover .icon i {
    color: #149ddd;
  }
  
  .il .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .il .title a {
    color: #343a40;
  }
  
  .il .title a:hover {
    color: #149ddd;
  }
  
  .il .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }